/* line 12, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
* {
  font-family: 'Roboto', sans-serif;
}

/* line 15, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
header {
  position: relative;
  height: 50px;
}

/* line 19, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.container {
  display: block;
  position: relative;
  margin: 0 auto;
}

/* line 24, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 5;
}

/* line 31, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

/* line 37, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

/* line 41, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

/* line 45, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 51, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

/* line 55, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.subheader_official {
  margin-top: 6px;
  opacity: 0.5;
  color: #ffffff;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
}

/* line 62, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.subheader_call {
  color: #ffffff;
  font-size: 12px;
  margin-top: 19px;
  font-weight: 300;
  text-align: right;
}

/* line 68, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.subheader_phone {
  display: block;
  margin-top: 8px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 12px;
}

/* line 77, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 8, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.subheader_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

/* line 92, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.promo {
  min-height: 800px;
  background: url("../img/bg/uber_bg.png") center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

/* line 96, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.promo_header {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  text-align: center;
}

/* line 104, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.promo_subheader {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
  text-align: center;
}

/* line 113, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.promo_descr {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 22px;
}

/* line 120, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 8, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

/* line 136, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.reasons {
  padding: 71px 0 65px 0;
}

/* line 139, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.label {
  position: relative;
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}

/* line 152, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.label_white {
  background-color: #fff;
  color: #000;
}

/* line 155, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.label_min {
  width: 76px;
}

/* line 158, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.title {
  position: relative;
  margin-bottom: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}

/* line 169, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.title_white {
  color: #fff;
}

/* line 172, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.subtitle {
  position: relative;
  margin-top: 19px;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  z-index: 2;
}

/* line 180, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.subtitle_white {
  color: #fff;
}

/* line 183, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.reasons .reasons_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

/* line 188, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.reasons .reasons_block .reasons_round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}

/* line 197, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.reasons .reasons_block .reasons_descr {
  width: 343px;
}

/* line 199, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.reasons .reasons_block .reasons_descr .reasons_subtitle {
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}

/* line 204, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.reasons .reasons_block .reasons_descr .reasons_text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

/* line 210, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/bg/mobile_app.png") center center/cover no-repeat;
}

/* line 214, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.mobile .row {
  margin-top: 32px;
}

/* line 216, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}

/* line 223, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.mobile_item_1 {
  background: url("../img/bg/mobile_screen_1.jpg") center center/cover no-repeat;
}

/* line 225, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.mobile_item_2 {
  background: url("../img/bg/mobile_screen_2.jpg") center center/cover no-repeat;
}

/* line 227, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.mobile_item_3 {
  background: url("../img/bg/mobile_screen_3.jpg") center center/cover no-repeat;
}

/* line 229, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.mobile_item_4 {
  background: url("../img/bg/mobile_screen_4.jpg") center center/cover no-repeat;
}

/* line 231, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.mobile_item_5 {
  background: url("../img/bg/mobile_screen_5.jpg") center center/cover no-repeat;
}

/* line 233, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.mobile_item_6 {
  background: url("../img/bg/mobile_screen_6.jpg") center center/cover no-repeat;
}

/* line 235, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.mobile_item_subtitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
  text-align: center;
}

/* line 242, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.mobile_item_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 26px;
  height: 26px;
  background-color: #000000;
  margin: 0 auto;
  border-radius: 100%;
  cursor: pointer;
}

/* line 256, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.mobile_item_plus:before {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
}

/* line 262, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.mobile_item_plus:after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: block;
  width: 2px;
  height: 14px;
  background-color: #1eacc7;
  transition: 0.3s all;
}

/* line 273, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  background-color: #ff5656;
}

/* line 278, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.car-section .container .dark-top {
  padding: 40px 0 0 0;
  margin: 0 auto;
  min-height: 503px;
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  background-color: #070716;
  justify-content: center;
}

/* line 288, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.car-section .container .dark-top .white-label {
  display: block;
  justify-content: center;
  margin: 0 auto;
  width: 135px;
  height: 27px;
  background-color: #ffffff;
  color: #212121;
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

/* line 300, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.car-section .container .dark-top .white-title {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 32px 0 0 0;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}

/* line 309, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.car-section .container .dark-top .white-text {
  display: block;
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
}

/* line 316, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.car-section .container .picture {
  display: block;
  align-items: center;
  margin: -153px auto 150px auto;
  transform: translateY(-25%);
  z-index: 3;
}

/* line 322, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.car-section .container .light-bottom {
  display: block;
  min-height: 235px;
  width: 100%;
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  background: url("../img/bg/mobile_app.png") center center/cover no-repeat;
  margin: -499px auto 0 auto;
  padding: 57px 0 138px 0;
  z-index: -1;
}

/* line 334, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.car-section .container .light-bottom .light-bottom-text-top {
  display: block;
  margin: 237px auto 0 auto;
  padding-top: 100px;
  text-align: center;
  font-size: 23px;
  margin: 0 auto;
  justify-content: center;
}

/* line 342, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.car-section .container .light-bottom .light-bottom-text-bottom {
  display: block;
  text-align: center;
  font-size: 23px;
  margin: -23px auto;
  justify-content: center;
}

/* line 349, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.require {
  padding: 68px 0 84px 0;
}

/* line 351, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.require_block {
  margin: 33px 0;
}

/* line 353, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.require_block_nmb {
  margin-bottom: 0px;
}

/* line 355, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.require_title {
  color: #1ca8c3;
  font-size: 22px;
  font-weight: 400;
}

/* line 359, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}

/* line 363, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.require_list li {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
}

/* line 369, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.require_list li:before {
  content: '';
  display: block;
  position: absolute;
  left: -32px;
  top: 50%;
  transform: translateY(-50%);
  width: 21px;
  height: 20px;
  background: url("../icons/check_blue.png") center center/cover no-repeat;
}

/* line 379, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.require_descr {
  margin-top: 25px;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  color: #1ca8c3;
}

/* line 386, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.require .warning .require_title {
  color: #ff5656;
}

/* line 390, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.require .warning .require_list li:before {
  background: url("../icons/check_red.png") center center/cover no-repeat;
}

/* line 393, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.world_wide {
  display: block;
  min-height: 800px;
  background: url("../img/bg/world_bg.png") center center/cover no-repeat;
  position: relative;
}

/* line 398, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.world_wide .top-text {
  padding: 40px 0 0 0;
}

/* line 400, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.world_wide .top-text .white-label {
  display: block;
  justify-content: center;
  margin: 0 auto;
  width: 135px;
  height: 27px;
  background-color: #ffffff;
  color: #212121;
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

/* line 412, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.world_wide .top-text .white-title {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 32px 0 0 0;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}

/* line 421, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.world_wide .top-text .white-text {
  display: block;
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
}

/* line 428, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.world_wide .bottom-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 23px;
  width: 100%;
}

/* line 435, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.world_wide .bottom-text .blue-label {
  color: #1eacc7;
  font-size: 24px;
  font-weight: 200;
  line-height: 68px;
  letter-spacing: 0px;
  text-align: center;
}

/* line 442, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.world_wide .bottom-text .blue-label a {
  cursor: pointer;
}

/* line 445, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
footer {
  padding: 14px 23px 39px 23px;
}

/* line 448, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
footer a:hover {
  text-decoration: none;
}

/* line 452, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.footer_divider {
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
  margin: 0 auto;
}

/* line 457, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 32px;
}

/* line 462, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.footer_wrapper > div {
  width: 33%;
}

/* line 464, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.footer_wrapper > div:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}

/* line 467, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.footer_social {
  width: 160px;
  display: flex;
  justify-content: space-between;
}

/* line 471, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.footer_social_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 100%;
}

/* line 480, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.footer_social_item i {
  color: #fff;
}

/* line 482, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.footer_links {
  width: 390px;
  margin: 0 auto;
}

/* line 485, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.footer_links_main {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

/* line 489, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.footer_links_main a {
  color: #070716;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

/* line 494, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.footer_links_sub {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* line 498, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.footer_links_sub a {
  color: #999999;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

/* line 503, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.footer_links_lang {
  display: block;
  margin: 0 auto;
  color: #1fbad6;
  font-size: 11px;
  font-weight: 400;
  margin-top: 19px;
  text-transform: uppercase;
  text-align: center;
}

/* line 513, ../self-study/CourseHunter/HTML/UBER-course-Original/src/sass/style.sass */
.fa-facebook-f,
.fa-twitter,
.fa-linkedin,
.fa-instagram {
  color: white;
}

/*# sourceMappingURL=style.css.map */